In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('ecommerce_sales.csv', nrows=100)
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,NaN,NaN,PUNE,MAHARASHTRA,411046.0,IN,NaN,False,NaN,NaN
96,96,408-6357132-2310703,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-L,Set,...,INR,696.00,Jammu,JAMMU & KASHMIR,180011.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
97,97,406-5334922-9670748,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3718,JNE3718-KR-XXXL,kurta,...,INR,406.00,bangalore,KARNATAKA,560026.0,IN,NaN,False,NaN,NaN
98,98,402-8519791-3706738,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET347,SET347-KR-NP-S,Set,...,INR,852.00,NEW DELHI,DELHI,110036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
99,99,408-1830318-0357940,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-XXL,kurta,...,INR,399.00,NARNAUND,HARYANA,125039.0,IN,NaN,False,NaN,NaN

In [4]:
print(df["Date"].head(10))

0    04-30-22
1    04-30-22
2    04-30-22
3    04-30-22
4    04-30-22
5    04-30-22
6    04-30-22
7    04-30-22
8    04-30-22
9    04-30-22
Name: Date, dtype: object

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace("-", "_")

expected_cols = [
    "category", "size", "date", "status", "fulfilment", "style", "sku", "asin",
    "courier_status", "qty", "amount", "b2b", "currency"
]
df = df[expected_cols].copy()

df["date"] = pd.to_datetime(df["date"], format="%m-%d-%y", errors="coerce")
df["qty"] = pd.to_numeric(df["qty"], errors="coerce").fillna(0).astype(int)
df["amount"] = pd.to_numeric(df["amount"], errors="coerce").fillna(0.0)
df["b2b"] = df["b2b"].map({"True": True, "False": False})

In [6]:
from sqlalchemy import create_engine
from sqlalchemy.types import Boolean, String, Integer, Float, TIMESTAMP

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ecommerce_sales')

In [8]:
print(pd.io.sql.get_schema(df, name='ecommerce_sales_data', con=engine))

CREATE TABLE ecommerce_sales_data (
	category TEXT,
	size TEXT,
	date TIMESTAMP WITHOUT TIME ZONE,
	status TEXT,
	fulfilment TEXT,
	style TEXT,
	sku TEXT,
	asin TEXT,
	courier_status TEXT,
	qty BIGINT,
	amount FLOAT(53),
	b2b TEXT,
	currency TEXT
)

In [9]:
df = pd.read_csv('ecommerce_sales.csv', iterator=True, chunksize=100)

In [10]:
from time import time

In [12]:
for i, df in enumerate(pd.read_csv("ecommerce_sales.csv", chunksize=10000, dtype=str, low_memory=False)):
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace("-", "_")

    expected_cols = [
        "category", "size", "date", "status", "fulfilment", "style", "sku", "asin",
        "courier_status", "qty", "amount", "b2b", "currency"
    ]
    df = df[expected_cols].copy()

    df["date"] = pd.to_datetime(df["date"], format="%m-%d-%y", errors="coerce")
    df["qty"] = pd.to_numeric(df["qty"], errors="coerce").fillna(0).astype(int)
    df["amount"] = pd.to_numeric(df["amount"], errors="coerce").fillna(0.0)
    df["b2b"] = df["b2b"].map({"True": True, "False": False})

    df.to_sql("ecommerce_sales_data", con=engine, if_exists="append", index=False)

    print(f"Inserted chunk {i+1}")

Inserted chunk 1
Inserted chunk 2
Inserted chunk 3
Inserted chunk 4
Inserted chunk 5
Inserted chunk 6
Inserted chunk 7
Inserted chunk 8
Inserted chunk 9
Inserted chunk 10
Inserted chunk 11
Inserted chunk 12
Inserted chunk 13